@import url("https://fonts.googleapis.com/css2?family=Anybody:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Anybody", sans-serif;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 1rem;
}

img {
  width: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: black;
}

span {
  color: #ff8400;
}

i {
  color: #38b6ff;
}

p {
  color: #9da3b4;
}

button {
  color: black;
}

li,
a {
  list-style: none;
  text-decoration: none;
  color: black;
}

.wrapper {
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.box div {
  position: absolute;
  width: 60px;
  height: 60px;
  background: transparent;
  border: 6px solid rgb(10, 177, 214);
}

.box div:nth-child(1) {
  top: 12%;
  left: 42%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(2) {
  top: 70%;
  left: 50%;
  animation: animate 7s linear infinite;
}
.box div:nth-child(3) {
  top: 17%;
  left: 6%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(4) {
  top: 20%;
  left: 60%;
  animation: animate 10s linear infinite;
}
.box div:nth-child(5) {
  top: 67%;
  left: 10%;
  animation: animate 6s linear infinite;
}
.box div:nth-child(6) {
  top: 80%;
  left: 70%;
  animation: animate 12s linear infinite;
}
.box div:nth-child(7) {
  top: 60%;
  left: 80%;
  animation: animate 15s linear infinite;
}
.box div:nth-child(8) {
  top: 32%;
  left: 25%;
  animation: animate 16s linear infinite;
}
.box div:nth-child(9) {
  top: 90%;
  left: 250%;
  animation: animate 9s linear infinite;
}
.box div:nth-child(10) {
  top: 20%;
  left: 80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
}

/* top-banner section */

.top-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  border-radius: 1rem;
  padding: 1rem;
}

.top-banner h3 a:hover {
  color: #38b6ff;
  cursor: pointer;
}

/* Dropdown styles */
.dropdown-1 {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #333;
  min-width: 160px;
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-menu li {
  border-bottom: 1px solid #444;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-menu #login {
  background: #0a6b0a;
}
.dropdown-menu #register {
  background: #b30f0f;
}

/* Show on hover */
.dropdown-1:hover .dropdown-menu {
  display: block;
}

.user-choice {
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  gap: 2rem;
}

select {
  background: #290979;
  color: #fff;
  width: 4rem;
  height: 1.3rem;
  letter-spacing: 2px;
  border-radius: 5px;
  border: 2px solid #38b6ff;
}

.logo img {
  width: 90px;
}

.logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  border-bottom: 1px solid #38b6ff;
}

.logo-text span {
  color: #38b6ff;
}

.logo-text span#logo-last-name {
  color: black;
}

/* mobile only-search-box */

.search-box2 {
  display: none;
}

/* desktop-search-box */
.search-box1 {
  position: relative;
}

.search-box1 input {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.search-box1 i {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1.5rem;
  background: #38b6ff;
  padding: 0.3rem;
  color: #fff;
  border-radius: 0.5rem;
}

.navigations {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-block: 3rem;
}

.navigations a {
  font-weight: 800;
  position: relative;
}

/* Dropdown styles */
.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  /* background-color: #333; */
  min-width: 160px;
  display: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
}

.dropdown-menu li {
  border-bottom: 1px solid #444;
}

.dropdown-menu a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
}

.dropdown-menu a:hover {
  background-color: #444;
}

/* Show on hover */
.dropdown:hover .dropdown-menu {
  display: block;
}

.navigations a::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  background: #38b6ff;
  width: 100%;
  height: 2px;
  transition: 0.4s ease-in;
  transform: scaleX(0);
}

.navigations a:hover::after {
  transform: scaleX(1);
}

.navigations a:hover {
  color: #38b6ff;
}

.hamburger {
  display: none;
}

.cart  a::after {
  background: none;
}


.cart  {
  margin-left: 2rem;
  font-size: 1.3rem;
  position: relative;
}

.cart span {
  position: absolute;
  bottom: 15px;
  right: 4px;
  color: #ff8400;
  z-index: -1;
  animation: float 3s infinite ease-in-out;
}

@keyframes float {
  50% {
    transform: translateY(-15px);
  }
}

/* hero section */

.hero-img img,
.fruits img {
  width: 100%;
  height: 650px;
}

.hero-img {
  position: relative;
  margin-block: 3rem;
  animation: float 7s infinite ease-in-out;
}

.hero-img h1 {
  position: absolute;
  top: 40%;
  left: 3%;
  font-size: 4rem;
  text-align: center;
}

/* promotion section  */

.promotion--tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 3rem;
  border-bottom: 1px double #f1a211;
  font-size: 1.5rem;
  width: max-content;
  padding: 2rem;
}


.promotion--tittle i {
  font-size: 2.5rem;
  border-radius: 50%;
}

.promotions img {
  width: 500px;
  border-radius: 1rem;
}

.promo-1 img,
.promo-2 img {
  transition: 4s ease-in-out;
}

.promotions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-block: 2rem;
}

.promo-1:hover,
.promo-2:hover {
  transform: scale(1.1);
}

.promo-1,
.promo-2 {
  position: relative;
  margin-top: 5rem;
}

.promo-tittle-1,
.promo-tittle-2 {
  position: absolute;
  top: 80px;
  left: 40px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  line-height: 2rem;
}

.promo-tittle-1 h2,
.promo-tittle-1 p {
  color: #060f0f;
}
.promo-tittle-2 h2,
.promo-tittle-2 p {
  color: #fff;
}

.promotions .btn,
.btn {
  background: #ff8400;
  font-weight: 800;
  padding: 0.5rem;
  border-radius: 1rem;
  border: none;
}

.promotions .btn:hover,
.btn:hover {
  background-color: #38b6ff;
}

/* trending products */

.trending-header,
.Womens-collection-header,
.mens-collection-header,
.furniture-collection-header,
.Technology-collection-header,
.testimonial-header {
  display: flex;
  margin-block: 2rem;
  font-size: 2rem;
  border-bottom: 4px solid #2799dc;
  width: max-content;
  padding: 1rem;
}

.trending-products,
.Womens-collection,
.mens-collection,
.furniture-collection,
.Technology-collection {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
}

.trending-items img,
.Womens-collection-items img,
.mens-collection-items img,
.Technology-collection-items img {
  width: 100%;
  height: 230px;
  border-radius: 1rem;
}

/* .furniture-collection */

.furniture-hero {
  background: url("https://media.istockphoto.com/id/1990444472/photo/scandinavian-style-cozy-living-room-interior.jpg?s=612x612&w=0&k=20&c=qgzrs_4vKDrOVo6gVc0EVb9-PziE-REbV9DcM5ZAfig=")
    center/cover no-repeat;
  height: 50vh;
}

.furniture-promo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding-top: 6rem;
}

.furniture-promo span {
  font-size: 1rem;
  background: #f1a211;
  color: #fff;
  padding: 0.5rem 1rem;
  border-bottom-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.furniture-promo h1 {
  font-size: 3rem;
}

.furniture-promo h2 {
  font-size: rem;
  text-align: center;
  line-height: 1.5rem;
  animation: furniture-promo 0.75s cubic-bezier(0.49, 0, 0.89, 0.74) infinite
    alternate;
}

@keyframes furniture-promo {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.furniture-promo #Discount {
  font-size: 2rem;
  color: blue;
  background: transparent;
}

.furniture-collection-items img {
  width: 100%;
  height: 250px;
  border-radius: 1rem;
}

.trending-items,
.Womens-collection-items,
.mens-collection-items,
.furniture-collection-items,
.Technology-collection-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
  backdrop-filter: blur(10px);
  padding: 1rem 0.3rem;
  border-radius: 1rem;
  position: relative;
  animation: 0.5s ease-in-out;
}
.trending-items p,
.Womens-collection-items p,
.mens-collection-items p,
.furniture-collection-items p,
.Technology-collection-items p {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: black;
  margin-bottom: 0.5rem;
}

.price-tag {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.price-tag span {
  background: #ff8400;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  cursor: pointer;
}

.price-tag span:hover {
  background: transparent;
  border: 2px solid #ff8400;
}

.price-tag .btn i {
  padding-right: 0.5rem;
}
.price-tag .btn {
  background: #ff8400;
  font-size: 0.8rem;
  font-weight: 800;
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  border: none;
}
.price-tag .btn:hover {
  background: transparent;
  cursor: pointer;
  border: 2px solid #ff8400;
}

.product-rating div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: black;
  font-weight: 800;
}
.product-rating div span {
  color: black;
  font-weight: 800;
}

.product-rating i {
  color: #ffa81d;
}

.trending-items span,
.Womens-collection-items span,
.mens-collection-items span,
.furniture-collection-items span,
.Technology-collection-items span {
  color: #ff8400;
  font-size: 1rem;
  font-weight: 700;
}

.trending-badge span {
  position: absolute;
  top: 40px;
  left: 15px;
  background-color: #f1a211;
  color: #fff;
  padding: 0.3rem 0.7rem;
  border-radius: 2rem;
}

.trending-product-action button,
.Womens-product-action button,
.mens-product-action button,
.furniture-product-action button,
.Technology-product-action button {
  position: absolute;
  top: 50px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border: none;
  background-color: transparent;
  opacity: 0;
}

.trending-product-action button i,
.Womens-product-action button i,
.mens-product-action button i,
.furniture-product-action button i,
.Technology-product-action button i {
  font-size: 1.3rem;
  background-color: #fff;
  color: #38b6ff;
  padding: 0.5rem;
  border-radius: 50%;
}

.trending-product-action button i:hover,
.Womens-product-action button i:hover,
.mens-product-action button i:hover,
.furniture-product-action button i:hover,
.Technology-product-action button i:hover {
  color: #fff;
  background-color: #38b6ff;
}

.trending-items:hover,
.Womens-collection-items:hover,
.mens-collection-items:hover,
.furniture-collection-items:hover,
.Technology-collection-items:hover {
  transform: scale(1.03);
  box-shadow: 0 0 90px #888b93;
  .trending-product-action button {
    opacity: 1;
  }
  .Womens-product-action button {
    opacity: 1;
  }
  .mens-product-action button {
    opacity: 1;
  }
  .furniture-product-action button {
    opacity: 1;
  }
  .Technology-product-action button {
    opacity: 1;
  }
}

/* Womens-collection  */

.Womens-collection,
.mens-collection,
.furniture-collection {
  margin-block: 6rem;
}

.Womens-collection h1,
.mens-collection h1,
.furniture-collection h1 {
  display: flex;
  gap: 0.5rem;
  font-size: 3rem;
}

/* .Technology-collection */

.Technology-collection {
  margin-block: 4rem;
}

.partner-companies img {
  border-radius: 1rem;
}

.partner-companies {
  display: flex;
  justify-content: center;
  gap: 2rem;
  text-align: center;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  flex-wrap: wrap;
}

.partner-companies:hover {
  box-shadow: 0 0 90px #888b93;
}

.Partner-tittle h1 {
  padding-top: 3rem;
  font-size: 2rem;
}

.Samsung-logo,
.Apple-logo {
  animation: SamsungApple 0.75s cubic-bezier(0.49, 0, 0.89, 0.74) infinite
    alternate;
}

@keyframes SamsungApple {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(20px);
  }
}

.Sony-logo,
.Genius-logo {
  animation: SonyGenius 0.75s cubic-bezier(0.49, 0, 0.89, 0.74) infinite
    alternate;
}

@keyframes SonyGenius {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}

.Xiaomi-logo {
  animation: bouncer 0.75s cubic-bezier(0.49, 0, 0.89, 0.74) infinite alternate;
}

@keyframes bouncer {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-20px);
  }
}

.JBL-logo {
  animation: JBL 0.75s cubic-bezier(0.49, 0, 0.89, 0.74) infinite alternate;
}
@keyframes JBL {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(20px);
  }
}

/* fruits section */

.fruits-hero {
  position: relative;
  margin-block: 3rem;
  animation: float 7s infinite ease-in-out;
}

.fruits-hero img {
  margin-top: 3rem;
}

.fruits-tittle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  position: absolute;
  top: 45%;
  left: 8%;
}

.fruits-tittle span {
  color: #ff9a03;
}

.fruits-tittle h1 {
  color: black;
  font-size: 3rem;
  display: inline-block;
  text-align: center;
  gap: 1rem;
}

.fruits-tittle p {
  color: black;
  line-height: 1.5rem;
  text-align: center;
}

.fruits-tittle .btn {
  background: #ff8400;
  border-radius: 1rem;
  border: none;
  padding: .5rem 2rem;
}

.fruits-tittle .btn:hover {
  background: transparent;
  border: 2px solid #ff8400;
}

/* top categories */

.top-categories {
  margin-block: 5rem;
}

.top-categories-header {
  margin-block: 2rem;
  border-bottom: 4px solid #2799dc;
  width: max-content;
  padding: 1rem;
}

.top-categories-header h1 {
  font-size: 2.5rem;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 3rem;
  border-radius: 1em;
  animation: 4s ease-in-out;
  box-shadow: 0 0 10px #989aa0;
}

.categories h1 {
  font-size: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  position: relative;
}

.categories h1::before {
  content: "";
  position: absolute;
  bottom: 30%;
  width: 100px;
  height: 1px;
  background: black;
}

.categories h1:hover {
  box-shadow: 0 0 90px #888b93;
  transform: scale(1.1);
}

/*========== testimonials ==============*/

.testimonial {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
  margin-block: 5rem;
}

.clients-tittle {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  margin-top: 7rem;
  font-style: italic;
}

.testimonial-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  padding: 1rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  position: relative;
}
.testimonial-info:hover {
  background: #f0eded;
}

.testimonial-info .clients-pic img {
  border-radius: 50%;
  position: absolute;
  top: -15%;
  left: 43%;
}

.testimonial-info .clients-info {
  margin-top: 2rem;
}

.testimonial-info .quote-rotate img {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 50px;
  rotate: 180deg;
}

.testimonial-info .quote img {
  position: absolute;
  bottom: 5%;
  right: 5%;
  width: 50px;
  z-index: 1;
}

.clients-info {
  display: flex;
  justify-content: center;
  text-align: center;
}

.testimonial i {
  color: #ffa81d;
}

.clients-info h1 {
  font-size: 1.3rem;
  letter-spacing: 3px;
}

/* footer section */

.footer {
  backdrop-filter: blur(10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 1);
  color: #9da3b4;
  padding: 2rem;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin-block: 2rem;
}

.footer-container :nth-child(3) i {
  margin-right: 1rem;
}
.footer-container :nth-child(3) p {
  margin-top: 1rem;
  cursor: pointer;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-logo .logo-text h1 {
  font-size: 2.5rem;
}

.footer-logo .logo-text span {
  font-size: 1.2rem;
}

.footer-column.quick-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-column.quick-links h4 {
  margin-bottom: 1rem;
}

.footer-column a,
.footer h5 {
  color: #9da3b4;
}

.footer-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-column ul li a:hover {
  color: #38b6ff;
}

.footer-column h4 {
  color: #ff9a03;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socials {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.socials i {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 0.5rem;
  background: #38b6ff;
  color: #fff;
  width: 25px;
  height: 25px;
  justify-content: center;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.socials i:hover {
  color: #38b6ff;
  background: #fff;
  transform: scale(1.02);
  box-shadow: 0 0 10px #38b6ff;
}

.footer-bottom {
  text-align: center;
  padding-top: 20px;
  border-top: 1px solid black;
}

.footer-bottom img {
  width: 15px;
}

/* responsives tablet */

@media (min-width: 651px) and (max-width: 1100px) {
  .navigations {
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
  }

  .cart {
    display: none;
  }

  .hamburger {
    display: block;
    position: absolute;
    color: white;
    top: 55px;
    right: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 2rem;
  }

  .mobile-menu {
    right: 0.5rem;
    top: 85px;
    inset: 90px 0 0 0;
    background: rgba(210, 212, 211, 0.3);
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    position: fixed;
    transform: translateX(0%);
    transition: transform 450ms ease-in-out;
    z-index: 1;
  }
  .mobile-menu[data-visible="false"] {
    transform: translateX(100%);
  }

  .hamburger i[data-visible="true"] {
    display: block;
  }

  .hamburger i[data-visible="false"] {
    display: none;
  }

  .search-box2 {
    display: none;
  }

  .hero-img h1 {
    top: 50%;
    left: 5%;
  }

  .promotions img {
    width: 100%;
  }

  .promo-tittle-1,
  .promo-tittle-2 {
    position: absolute;
    top: 10px;
    left: 30px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    line-height: 2rem;
  }

  .trending-products,
  .Womens-collection,
  .mens-collection,
  .furniture-collection,
  .Technology-collection,
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .trending-badge span {
    top: 40px;
    left: 60px;
  }

  .furniture-collection-items img {
    width: 100%;
  }

  .fruits-hero img {
    height: 500px;
  }
}

/* responsive Mobile  */

@media (min-width: 200px) and (max-width: 650px) {
  .navigations {
    flex-direction: column;
    align-items: center;
    font-size: 1.7rem;
  }

  .hamburger {
    display: block;
    position: absolute;
    color: white;
    top: 185px;
    right: 8px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 3rem;
  }

  .mobile-menu {
    right: 0.5rem;
    inset: 200px 0 0 0;
    background: rgba(210, 212, 211, 0.3);
    border-radius: 1rem;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    border-radius: 2rem;
    position: fixed;
    transform: translateX(0%);
    transition: transform 450ms ease-in-out;
    z-index: 1;
  }

  .mobile-menu[data-visible="false"] {
    transform: translateX(100%);
  }

  .hamburger i[data-visible="true"] {
    display: block;
  }

  .hamburger i[data-visible="false"] {
    display: none;
  }

  .top-banner {
    flex-direction: column;
    gap: 2rem;
  }

  .cart {
    display: none;
  }

  .search-box1 {
    display: none;
  }
  .search-box2 {
    display: block;
  }

  /* mobile only-search-box */

  .search-box2 {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    position: relative;
  }

  .search-box2 input {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
  }

  .search-box2 i {
    position: absolute;
    right: 28%;
    bottom: 0;
    font-size: 1.5rem;
    background: #38b6ff;
    padding: 0.3rem;
    color: #fff;
    border-radius: 0.5rem;
  }

  .hero-img img {
    width: 100%;
    height: 500px;
  }

  .hero-img h1 {
    top: 55%;
    font-size: 3rem;
  }

  .promotions img {
    width: 98%;
  }

  .promotions {
    flex-direction: column;
  }

  .promotion--tittle i {
    font-size: 1.7rem;
  }

  .promo-tittle-1,
  .promo-tittle-2 {
    position: absolute;
    top: 30px;
    left: 40px;
  }

  .trending-products,
  .footer-container {
    grid-template-columns: 1fr;
  }

  .trending-header h1 {
    font-size: 2rem;
  }

  .trending-badge span {
    top: 40px;
    left: 20px;
  }

  .Womens-collection,
  .mens-collection,
  .furniture-collection,
  .Technology-collection,
  .testimonial {
    grid-template-columns: 1fr;
  }
  .promotion--tittle h1,
  .Womens-collection h1,
  .mens-collection h1,
  .furniture-collection h1,
  .Technology-collection h1,
  .top-categories-header h1 {
    font-size: 1.5rem;
  }

  .trending-product-action button,
  .Womens-product-action button,
  .mens-product-action button,
  .furniture-product-action button,
  .Technology-product-action button {
    position: absolute;
    top: 50px;
    right: 80px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border: none;
    background-color: transparent;
    opacity: 0;
  }

  .trending-items:hover,
  .Womens-collection-items:hover,
  .promo-1:hover,
  .promo-2:hover,
  .mens-collection-items:hover,
  .furniture-collection-items:hover,
  .Technology-collection-items:hover {
    transform: scale(1);
  }

  .fruits-hero img {
    height: 450px;
  }

  .fruits-tittle {
    top: 18%;
    left: 7%;
  }

  .fruits-tittle h1 {
    font-size: 2.5rem;
  }

  .testimonial-info .clients-pic img {
    position: absolute;
    top: -15%;
    left: 37%;
  }

  .clients-tittle {
    font-size: 1rem;
  }

  .footer-column.quick-links {
    align-items: flex-start;
  }
}
